@import "base.less";

:root {
    @media (prefers-color-scheme: light) {
        --text-color: #333333;
        --bg-color  : #F7DEA5;
    }

    @media (prefers-color-scheme: dark) {
        --text-color: #fff;
        --bg-color  : #7b6f52;
    }
}

@font-face {
    font-family: 'ChosunGs';
    src        : url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-style : normal;
}

body {
    font-family     : ChosunGs;
    padding         : 20px;
    text-align      : center;
    background-color: var(--bg-color);
    color           : var(--text-color);
}

// views
@import "view/home.less";
@import "view/explanation.less";

@import "component/popup.less";
@import "component/connectwalletpopup.less";
@import "component/klipqrpopup.less";
