/*
https://github.com/Hanul/sky-css-base
v0.0.1 | 20210109
Author: Sim Young Jae
License: MIT
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*:focus {
  outline: 0;
}
html {
  -webkit-tap-highlight-color: transparent;
}
a,
button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
button,
input {
  border: none;
}
[hidden] {
  display: none !important;
}
[contenteditable] {
  -webkit-tap-highlight-color: transparent;
}
.float-wrapper:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media (prefers-color-scheme: light) {
  :root {
    --text-color: #333333;
    --bg-color: #F7DEA5;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #fff;
    --bg-color: #7b6f52;
  }
}
@font-face {
  font-family: 'ChosunGs';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: ChosunGs;
  padding: 20px;
  text-align: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.home-view {
  max-width: 1240px;
  margin: auto;
}
.home-view > h1 {
  font-size: 4rem;
  font-weight: bold;
}
@media only screen and (max-width: 719px) {
  .home-view > h1 {
    font-size: 3rem;
  }
}
.home-view > h2 {
  font-size: 2rem;
  margin-top: 16px;
  font-weight: bold;
  animation-duration: 5s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
}
.home-view > .overview {
  margin-top: 16px;
  letter-spacing: 1px;
}
.home-view > .input-container {
  margin-top: 16px;
}
.home-view > .input-container > .label {
  margin-top: 4px;
  font-size: 0.75rem;
  color: red;
}
.home-view > .input-container > input {
  width: 100%;
  height: 44px;
  padding: 8px;
  margin: 8px;
}
.home-view > .input-container > input:focus {
  box-shadow: 5px 10px;
}
.home-view > .input-container > input:focus > .label {
  display: block;
}
.home-view > button {
  width: 100%;
  height: 44px;
  margin: 8px;
  font-family: ChosunGs;
  font-size: 16px;
}
.home-view > button:hover {
  animation-duration: 5s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
  box-shadow: 5px 10px;
}
.home-view > button:active {
  font-size: 1.25rem;
}
.home-view > .footer {
  font-size: 0.875rem;
}
.home-view > .footer > .sns {
  margin: 8px;
}
.home-view > .footer > .sns > a {
  margin: 8px;
}
@keyframes rainbowLink {
  0% {
    color: red;
  }
  15% {
    color: orange;
  }
  30% {
    color: yellow;
  }
  45% {
    color: green;
  }
  60% {
    color: blue;
  }
  75% {
    color: navy;
  }
  90% {
    color: purple;
  }
  100% {
    color: pink;
  }
}
.explanation-view {
  max-width: 1240px;
  margin: auto;
}
.explanation-view > h1 {
  font-size: 4rem;
  font-weight: bold;
}
@media only screen and (max-width: 719px) {
  .explanation-view > h1 {
    font-size: 3rem;
  }
}
.explanation-view > h2 {
  font-size: 2rem;
  margin-top: 44px;
  margin-bottom: 16px;
  font-weight: bold;
}
.explanation-view > a {
  margin-top: 8px;
}
.explanation-view > a:hover {
  animation-duration: 3s;
  animation-name: rainbowLink;
  animation-iteration-count: infinite;
}
.explanation-view > .body {
  margin-top: 8px;
}
.explanation-view > .footer {
  padding-top: 32px;
  font-size: 0.875rem;
}
.explanation-view > .footer > .sns {
  margin: 8px;
}
.explanation-view > .footer > .sns > a {
  margin: 8px;
}
@keyframes rainbowLink {
  0% {
    color: red;
  }
  15% {
    color: orange;
  }
  30% {
    color: yellow;
  }
  45% {
    color: green;
  }
  60% {
    color: blue;
  }
  75% {
    color: navy;
  }
  90% {
    color: purple;
  }
  100% {
    color: pink;
  }
}
.popup-background {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 0;
}
.connect-wallet-popup {
  position: relative;
  max-width: 420px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.connect-wallet-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.connect-wallet-popup > p {
  padding: 16px;
  border-top: 1px solid #666;
  color: #999;
}
.connect-wallet-popup > .button-container {
  padding: 16px;
}
.connect-wallet-popup > .button-container > button {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  color: #C7FEA2;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.connect-wallet-popup > .button-container > button:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.connect-wallet-popup > .button-container > button > img {
  margin-right: 10px;
}
.connect-wallet-popup > .button-container > .connect-kaikas-button {
  background-color: #6f6558;
  color: #ffffff;
}
.connect-wallet-popup > .button-container > .connect-klip-button {
  background-color: #fee500;
  color: #000000;
}
.connect-wallet-popup > .button-container > .cancel-button {
  border: 1px solid #ffffff;
}
.klip-qr-popup {
  position: relative;
  max-width: 600px;
  width: 90%;
  margin: auto;
  border-radius: 4px;
  background-color: #1f1f1f;
}
.klip-qr-popup > h2 {
  font-size: 24px;
  padding: 16px;
}
.klip-qr-popup > .qr {
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  padding: 16px 0;
  text-align: center;
}
.klip-qr-popup > p {
  margin-top: 16px;
  padding: 0 16px;
  color: #999;
}
.klip-qr-popup > .button-container {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}
.klip-qr-popup > .button-container > button {
  background-color: transparent;
  color: #C7FEA2;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
}
.klip-qr-popup > .button-container > button:hover {
  background-color: rgba(199, 254, 162, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

